

body {
	background-color:#FFFFFF;
	margin:2.5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11.5px;
	color:#000000;
	
}

body {
    font-family: Arial, sans-serif;
}

.side-box {
    width: 250px; /* Adjust the width as needed */
    border: 1px solid #ccc; /* Light grey border */
    padding: 15px;
    margin-top: 20px;
    background-color: #f9f9f9; /* Light grey background */
}

.side-box h2 {
    color: #333; /* Dark grey color for the heading */
    border-bottom: 1px solid #ddd; /* Light grey bottom border for the heading */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.side-box ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

.side-box ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee; /* Very light grey bottom border for list items */
}

.side-box ul li:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
}

a {
	color:#999999;
}

a:hover {
	text-decoration:none;
}

textarea,input,submit {
	background-color:#eeeeee;
	color:#666666;
	padding:5px;
	border:none;
	margin:2.5px;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	color:#005b96;
	font-weight:normal;
}



#title {
	margin:0 auto 0 auto;
	text-align:center;
	margin-bottom:25px;
}

#title p {
	font-variant:small-caps;
	letter-spacing:2px;
}



#title img {
	border:none;
}



#container {
	width:700px;
	margin:0 auto 0 auto;
}



#sidebar {
	width:200px;
	float:right;
}

#sidebar h1 {
	font-family:"Trebuchet MS", Arial, Verdana;
	text-align:right;
	font-size:200%;
	color:#626477;
	border-bottom:1px dashed #eeeeee;
}

#sidebar p {
	line-height:20px;
}




#menu {
	text-align:right;
}

#menu a {
	color:#999999;
	background-image:url(images/backgrounds/a.jpg);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:10px;
	line-height:15px;
	text-decoration:none;
}

#menu a:hover {
	color:#0183E5;
	background-image:url(images/backgrounds/a_hover.jpg);
}



br {
     display: block; /* makes it have a width */
     content: ""; /* clears default height */
     margin-top: 10px; /* change this to whatever height you want it */
}
#content {
	margin-right:120px;
	padding-right:20px;
	border-right:1px solid #cccccc;
	background-image:url(images/backgrounds/content.jpg);
	background-position:right;
	background-repeat:repeat-y;
}

#content h1 {
	font-family:"Trebuchet MS", Arial, Verdana;
	text-align:left;
	font-size:150%;
	color:#6497b1;
	border-bottom:1px dashed #eeeeee;
	padding-top:15px !important;
	padding-top:0;

}

#content p {
	line-height:20px;
	text-indent:0px;
	color:#666;
}

#content ol,ul {
	line-height:25px;
}





#footer {
	width:580px;
	margin:0 auto 0 auto;
	padding:10px;
	text-align:center;
	border-top:1px dashed #cccccc;
}

