h2, p {
    text-align: center;
    color: blue;
}

#link {
<a href = "google.com">  </a>

}


}
body {
	border: 1px solid black;
	style = "background-color:powderblue; 
	font-size:300%; 
	text-align:center;
}

	
img.floating { 
	float: left; 
	width:128px;
	height:128px;

}

